<% include partials/header%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IBlog App</title>
</head>
<body>
<div class="jumbotron text-center">
<h1 class="display-4 text-center">Pen Your Ideas v399u</h1>
<p class="lead text-center ">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to fhfftf huhuh eatured content or information.</p>
<a class="btn btn-danger btn-lg text-center" href="#" role="button">Add New Post</a>
</div>
</body>
</html>
<% include partials/footer %>