<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Register</title>
      <link rel="stylesheet" href="">

        <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div class="container">  
  <form id="contact" action="" method="post" >
    <h3>Login</h3>
    <fieldset>
      <input placeholder="Your Username" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Password" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Login</button>
    </fieldset>
    <p class="copyright">Developed by Tweneboah <a href="/" target="_blank" title="Colorlib">2019</a></p>
  </form>
</div>
</body>
</html>